body{
    margin: 0px;
    padding: 0px;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.btn{
    background-color: #8B48BF;

}

.primerosarticulos{
    width: 50%;

}
.segundosarticulos{
    width: 60%;
}
#aboutmanage{
    width: 40%;
}

.primerosarticulos article{
    width: 50%;

}
.space{
    justify-content: space-between;
}
.card{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.center{
    display: flex;
    align-items: center;

}
.similboton{
    background-color: #8B48BF;
    color: white;
    border-radius: 50px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    font-weight: bold;
}
.prefooter{

    background-color: #8B48BF;
    color: white;
    justify-content: space-between;
}
.division{
    width: 50%;
}
.flexend{
    display: flex;
    justify-content: flex-end;
}
.flexcenter{
    display: flex;
    justify-content: center;
}
footer{
    background-color: #1E1E26;
    height: 20vh;
}
.flexarround{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5vw;
}
.form{
    height: 10vh;
}
.espaciado{
    justify-content: space-around;
}